@using FirstOrder.Util;

@{ 
    if (!StCommon.IsMobileAgent(Request.UserAgent))
    {
        Response.Redirect("~/Default.aspx", true);
    }
}

<section id="header" class="wrapper">

    <!-- Logo -->
    <div id="logo">
        <h1><a href="~/Mobile/Default.cshtml" data-ajax="false">@PageData["title"]</a></h1>
    </div>

</section>
